<aside class="sidebar">
    <div class="brand">
        <img src="{{ url_for('static', path='images/logo.png') }}" class="logo" alt="logo", style="width: 550px; height: 250px;">
        <h1>Bhasha Mitra</h1>
        <p>One India. Many Languages.</p>
    </div>

    <nav>
        <a class="active" href="/">
            <span>🏠</span>
            <span>Home</span>
        </a>
        <a href="/upload">
            <span>☁</span>
            <span>Upload Video</span>
        </a>
        <a href="/jobs">
            <span>📄</span>
            <span>My Translations</span>
        </a>
        <a href="#">
            <span>🔤</span>
            <span>Subtitles</span>
        </a>
        <a href="#">
            <span>🕒</span>
            <span>History</span>
        </a>
        <a href="/settings">
            <span>⚙</span>
            <span>Settings</span>
        </a>
        <a href="#">
            <span>👥</span>
            <span>Users</span>
        </a>
        <a href="#">
            <span>📊</span>
            <span>Logs</span>
        </a>
    </nav>

    <div class="system-box">
        <h4>🟢 System Status</h4>
        <p>All Systems Operational</p>
        <small>v1.0.0</small>
    </div>
</aside>