<header class="top-header">

    <div class="header-left">

        <button class="menu-btn" id="sidebarToggle">
            <i class="fa-solid fa-bars"></i>
        </button>

    </div>

    <div class="header-right">

        <!-- Search -->

        <div class="search-box">

            <input
                type="text"
                placeholder="Search videos, languages...">

            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>

        </div>

        <!-- Notification -->

        <div class="header-icon notification">

            <i class="fa-regular fa-bell"></i>

            <span class="badge">
                3
            </span>

        </div>

        <!-- Server Status -->

        <div class="server-status">

            <span class="status-dot"></span>

            <span>
                Server: Online
            </span>

        </div>

        <!-- User -->

        <div class="user-profile">

            <div class="avatar">

                A

            </div>

            <div class="user-info">

                <span class="username">

                    Admin

                </span>

            </div>

            <i class="fa-solid fa-chevron-down"></i>

        </div>

    </div>

</header>